#container{
	width:72%;
	margin: 0 auto;
}

a{
	list-style: none;
	color: #aaa;
}

ul{
	padding:0;
}
/*가운데 배치 해야함*/
#container li{
	list-style:none;
	display: inline-block;
	padding:20px;
}
/* 리스트 이미지 왜 적용 안됨?*/
#container li img{
	width: 400px;
	height: 300px;
}
/* 레이어 팝업 박스 */
.layer-popup {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.layer-popup.show {
  display: block;
}

.modal-dialog {
  width: 620px;
  margin: 40px auto;
  background-color: #fff;
}

.modal-content {
  padding:5px 5px;
  line-height: 40px;
}

